{{ attach_library('footballnotes/note') }}
<div class='note container d-flex flex-column'>
  <div class='d-flex flex-row align-items-center mt-3 mb-1'>
    <h4 class='saison m-0 mr-2'>{{- content.field_championnat -}}</h4>
    <span>{{ ' - ' }}</span>
    <span class='date ml-2 font-weight-light red'>{{- content.field_date_du_match -}}</span>
  </div>
  <div class='score my-3 font-weight-bold'>
    <div class='equipe'>
      <img class='img-fluid' src='{{ img_equipe_a_domicile }}'/>
      <h5 class='exterieur m-0 px-2'>{{ content.field_equipe_a_domicile }}</h5>
    </div>
    <div class='resultat mx-5'>
      <h2 class='m-0 font-weight-bold'>
        {{ content.field_score_equipe_a_domicile }}{{ ' : ' }}{{ content.field_score_equipe_a_l_exterieur }}
      </h2>
    </div>
    <div class='equipe'>
      <h5 class='domicile m-0 px-2'>{{ content.field_equipe_a_exterieur }}</h5>
      <img class='img-fluid' src='{{ img_equipe_a_exterieur }}'/>
    </div>
  </div>
  <div class='contenu d-flex flex-column border border-red p-3 mb-3 mt-1'>
    {{ content.field_contenu }}
    {% if content.field_images.0 %}
      <div class='images'>
        {{ content.field_images }}
      </div>
    {% endif %}
  </div>
</div>
