{{ attach_library('footballnotes/note') }}
{# Macro Terrain #}
{% macro renderTerrainEquipe(equipe, maillot) %}
  {{ _self.renderTerrainJoueurs(equipe.gardien, maillot) }}
  {{ _self.renderTerrainJoueurs(equipe.defenseurs, maillot) }}
  {{ _self.renderTerrainJoueurs(equipe.milieux, maillot) }}
  {{ _self.renderTerrainJoueurs(equipe.attaquants, maillot) }}
  <div class="remplacants">
    {{ _self.renderTerrainJoueurs(equipe.remplacants, maillot, true) }}
  </div>
{% endmacro %}
{% macro renderTerrainJoueurs(joueurs, maillot, remplacant = false) %}
  {% for joueur in joueurs %}
    <div data-toggle="modal" data-target="#popin-joueur-{{ joueur.id }}" class="joueur position-{{ joueur.position }}">
      <div class="icones">
        {% if joueur.stats.offensives['Buts'] is defined and joueur.stats.offensives['Buts']|number_format > 0 %}
          {% for i in 1..joueur.stats.offensives['Buts']|number_format %}
            <img class="buts" src="/themes/custom/footballnotes/img/football_ball.png">
          {% endfor %}
        {% endif %}
        {% if joueur.stats.defensives['CSC'] is defined and joueur.stats.defensives['CSC']|number_format > 0 %}
          {% for i in 1..joueur.stats.defensives['CSC']|number_format %}
            <img class="buts" src="/themes/custom/footballnotes/img/football_own_ball.png">
          {% endfor %}
        {% endif %}
        {% if joueur.stats.globales['Carton jaune']|number_format > 0 %}
          {% for i in 1..joueur.stats.globales['Carton jaune']|number_format %}
            <img class="yellow" src="/themes/custom/footballnotes/img/yellow_card.png">
          {% endfor %}
        {% endif %}
        {% if joueur.stats.globales['Carton rouge']|number_format > 0 %}
          {% for i in 1..joueur.stats.globales['Carton rouge']|number_format %}
            <img class="red" src="/themes/custom/footballnotes/img/red_card.png">
          {% endfor %}
        {% endif %}
      </div>
      {% if remplacant %}
        <img class="maillot" src="{{ maillot }}">
      {% else %}
        <img class="maillot" src="{{ maillot }}">
      {% endif %}
      <span>
        {{ joueur.name }}
      </span>
    </div>
  {% endfor %}
{% endmacro %}

{# Macro POPIN #}
{% macro renderEquipe(equipe) %}
  {{ _self.renderJoueurs(equipe.gardien) }}
  {{ _self.renderJoueurs(equipe.defenseurs) }}
  {{ _self.renderJoueurs(equipe.milieux) }}
  {{ _self.renderJoueurs(equipe.attaquants) }}
  {{ _self.renderJoueurs(equipe.remplacants) }}
{% endmacro %}
{% macro renderJoueurs(joueurs) %}
  {% for joueur in joueurs %}
    <div class="modal fade" id="popin-joueur-{{ joueur.id }}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">{{ joueur.name }}</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body popin-joueur">
            <div class="card-header tab-card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#globales-{{ joueur.id }}">{{ 'Globales' }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#defensives-{{ joueur.id }}">{{ 'Défensives' }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#offensives-{{ joueur.id }}">{{ 'Offensives' }}</a>
                </li>
              </ul>
            </div>

            <div class="tab-content">
              <div class="tab-pane fade show active p-3" id="globales-{{ joueur.id }}" role="tabpanel" aria-labelledby="one-tab">
                {{ _self.renderStats(joueur.stats.globales, 'globales') }}
              </div>
              {% if joueur.stats.defensives is not empty %}
                <div class="tab-pane fade p-3" id="defensives-{{ joueur.id }}" role="tabpanel" aria-labelledby="two-tab">
                  {{ _self.renderStats(joueur.stats.defensives, 'defensives') }}
                </div>
              {% endif %}
              {% if joueur.stats.offensives is not empty %}
                <div class="tab-pane fade p-3" id="offensives-{{ joueur.id }}" role="tabpanel" aria-labelledby="two-tab">
                  {{ _self.renderStats(joueur.stats.offensives, 'offensives') }}
                </div>
              {% endif %}
            </div>

          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endmacro %}
{% macro renderStats(stats, id) %}
  {% for nomStat,stat in stats %}
    {% if stat is not null %}
      <span class="stat">{{ nomStat }}<span class="donnee">{{ stat }}</span></span>
    {% endif %}
  {% endfor %}
{% endmacro %}

<div class='note container d-flex flex-column'>
  <div class='d-flex flex-row align-items-center justify-content-center mt-3 mb-1'>
    <h4 class='saison m-0 mr-2'>{{- content.field_championnat -}}</h4>
    <span>{{ ' - ' }}</span>
    <span class='date ml-2 font-weight-light red'>{{- content.field_date_du_match -}}</span>
  </div>
  <div class='score my-3 font-weight-bold justify-content-center'>
    <div class='equipe'>
      <img class='img-fluid' src='{{ img_equipe_a_domicile }}'/>
      <h5 class='exterieur m-0 px-2'>{{ content.field_equipe_a_domicile }}</h5>
    </div>
    <div class='resultat mx-5'>
      <h2 class='m-0 font-weight-bold'>
        {{ content.field_score_equipe_a_domicile }}{{ ' : ' }}{{ content.field_score_equipe_a_l_exterieur }}
      </h2>
    </div>
    <div class='equipe'>
      <h5 class='domicile m-0 px-2'>{{ content.field_equipe_a_exterieur }}</h5>
      <img class='img-fluid' src='{{ img_equipe_a_exterieur }}'/>
    </div>
  </div>

  <div class="tab-wrap">

    <input type="radio" id="resume" name="tabGroup" class="tab">
    <label for="resume">{{ 'Résumé' }}</label>
    <input type="radio" id="composition" name="tabGroup" class="tab">
    <label for="composition">{{ 'Composition' }}</label>
    <input type="radio" id="note" name="tabGroup" class="tab">
    <label for="note">{{ 'Notes joueurs' }}</label>
    {% if content.field_id_match.0 %}
      <input type="radio" id="data" name="tabGroup" class="tab" checked>
      <label for="data">{{ 'DATA' }}</label>
    {% endif %}

    {# Résumé #}
    <div class="tab__content">
      {{ content.field_contenu }}
      {% if content.field_images.0 %}
        <div class='images'>
          {{ content.field_images }}
        </div>
      {% endif %}
    </div>

    {# Composition #}
    <div class="tab__content d-flex justify-content-center">
      <img class="img-fluid" src="{{ content.field_composition }}" >
    </div>
    {# Notes #}
    <div class="tab__content row">
      <div class="col-xl-6 border-right">
        <h2 class="text-align-center">{{ content.field_equipe_a_domicile }}</h2>
        {{ content.field_notes_joueurs_domicile }}
      </div>
      <div class="col-xl-6">
        <h2 class="text-align-center">{{ content.field_equipe_a_exterieur }}</h2>
        {{ content.field_notes_joueurs_exterieur }}
      </div>
    </div>

    {# DATA #}
    {% if content.field_id_match.0 %}
      <div class="tab__content data">
        <img src="/{{ directory }}/img/soccer_field.png" style="width: 100%; height: auto;">
        {# Equipe HOME #}
        <div class="equipe home formation-{{ data.equipeHome.formation }}">
          {{ _self.renderTerrainEquipe(data.equipeHome, maillotDomicile) }}
        </div>

        {# Equipe AWAY #}
        <div class="equipe away formation-{{ data.equipeAway.formation }}">
          {{ _self.renderTerrainEquipe(data.equipeAway, maillotExterieur) }}
        </div>
      </div>
    {% endif %}
  </div>

  {# Modales équipe HOME #}
  {{ _self.renderEquipe(data.equipeHome) }}

  {# Modales équipe AWAY #}
  {{ _self.renderEquipe(data.equipeAway) }}

</div>
